/*<!--WEBDEV parcours 3 04/05/2020-->*/

body {
  height: 100%;
  margin: 0px;
  background-color: #f6b93b
}

/* dimensions sur une colonne*/
.container {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  margin: auto;
  background-color: #f6b93b
}
 /*retour homepage*/

 header {
  background-color: #b71540;
  width: 100%;
  height: 98px;
  display: flex;
}

.header__lien {
  height: 60px;
  margin: auto;
}

/* Taille du logo*/
.header__lien .header__logo {
  height: 60px;
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.main--menu-contenu {
  padding: 20px;
  padding-bottom: 85px;
}

.main--mentions-legales {
  max-width: 518px;
  margin-left: auto;
  margin-right: auto;
  flex-grow: 0;
}
/*h1 mot MENU sur les 4 menus*/
h1 {
  font-family:'Caveat Script', cursive;
  color: #3c1218;
  font-size: 1.7rem;
  margin: 0;
}

.h1--menu2 {
  color: #c67412;
}

.h1--menu3 {
  color: #022ddf;
}

.h1--menu4 {
  color: #3d923a;
}
/*h1 dans les pages des menus*/
.h1--contenu {
  font-family: "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial;
  color: #000000;
  font-size: 2.1em;
  margin: 30px 0 30px 0;
}

}
h2 {
  color: #3c1218;
  text-align: center;
  font-size: 1rem;
  width: 100%;
  height: 29px;
}
/*réglages titre des  4 menus*/
.h2--menu1 {
  margin: 3px 0 15px 0;
  font-family: 'Parisienne', cursive;
  padding:6px;
}

.menu-contenu__logo-bottom {
font-family: 'Parisienne', cursive;
color: #3c1218;
}

.h2--menu2 {
  font-family: 'Grand Hotel', cursive;
  background: linear-gradient(to bottom right, #c67412, #6e4ccc);
  background-clip: text;
  /*transparence du texte dans chrome et Safari*/
  -webkit-background-clip: text;
  color: transparent;
  padding:6px;
}

.h2--menu3 {
  font-family: 'Lobster', cursive;
  background: linear-gradient(to bottom right, #022ddf, #00f6ff);
  background-clip: text;
  /*transparence du texte dans chrome et Safari*/
  -webkit-background-clip: text;
  color: transparent;
  padding:6px;
}

.h2--menu4 {
  font-family: "Kaushan Script";
  background: linear-gradient(to top right, #3d923a, #bfff7e);
  background-clip: text;
  /*transparence du texte dans chrome et Safari*/
  -webkit-background-clip: text;
  color: transparent;
  padding:6px;
}
/*Tîtres des menus*/
.h2--menu-contenu {
  font-size: 2.2rem;
  margin: 75px 0 15px 0;
}

/*soulignement des h3 dans les 4 menus*/
h3::after {
  content: "";
  display: block;
  height: 2px;
  width: 0;
  transition: width 0.6s ease;
}

h3:hover::after {
  width: 100%;
  background: #000000;
}


.typo {
  font-family:"Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial;
  color: #fdcb46;
  margin-left: 5%;
  margin-right: 5%;
  font-size: 1em;
}

.typo--btn {
  font-size: 1.5em;
}
/*Polices pour plats et rubriques sur les 4 menus*/
section {
 font-family: 'Dancing+Script', cursive;
}

section h3, section .prix{
  font-weight: 700;
}

section .plat {
  font-weight: 500;
  text-align:left;
}
/*mise en col prix et plat par space-between*/
.plat {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.section--menu2 {
  font-size: 1.0rem;
}

.section--menu2 ul {
  font-weight: normal;
}

/* 3 couleurs polices Menu 2*/
.section--color-Ht {
  color: #c67412;
}

.section--color-Mid {
  color: #a56799;
}

.section--color-Bas {
  color: #6e4ccc;
}

.section--menu3-4 h3 {
  font-weight: lighter;
}

.section--menu3-4 li .prix {
  font-weight: normal;
}

.main--mentions-legales p {
  font-family: sans-serif, "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial;
  font-size: 1em;
}

.btn-prochainement-container {
  width: 100%;
  height: 157px;
  margin-bottom: 54px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-prochainement-container .btn-prochainement-container__button {
  width: 258px;
  height: 46px;
  background-color: #b71540;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/*Animations CSS*/
.btn-prochainement-container__button::after {
  content: " .";
  animation: dots 2s infinite;
}

@keyframes dots {
  0%, 20% {
    color: rgba(0, 0, 0, 0);
    text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0);
  }
  40% {
    color: #fdcb46;
    text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0);
  }
  60% {
    text-shadow: 0.25em 0 0 #fdcb46, 0.5em 0 0 rgba(0, 0, 0, 0);
  }
  80%, 100% {
    text-shadow: 0.25em 0 0 #fdcb46, 0.5em 0 0 #fdcb46;
  }
}
/*boutons shake du footer*/
.footer__lien:hover {
  animation: shake 0.82s cubic-bezier(0.65, 0.23, 0.41, 0.79);
  transform: translate(0, 0);
}

@keyframes shake {
  0% {
    transform: translate(-1px, 0);
  }
  20%, 80% {
    transform: translate(2px, 0);
  }
  30%, 50%, 70% {
    transform: translate(-4px, 0);
  }
  40%, 60% {
    transform: translate(4px, 0);
  }
}
/*animation menus dans index.html*/
.calque-menu__inside {
  height: 100%;
  width: 100%;
  transition: transform 300ms, opacity 250ms 50ms;
}

.calque-menu__inside:hover {
  transform: scale(1.1);
  opacity: 0.5;
}

.btn-prochainement-container__button::after {
  content: " .";
  animation: dots 2s infinite;
}




/* footer fixe avec fixed + positions bt l r*/
.footer-container {
  background-color: #b71540;
  width: 100%;
  height: 60px;
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}
/* space-between renvoie les boutons vers G et D du bloc*/
.footer-container footer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: auto;
  max-width: 720px;
}

/* calques des 4 menus sur index.html*/
.calque-menu {
  width: 240px;
  height: 310px;
  margin: auto;
  box-shadow: 0 0 7px #cccccc;
  margin-top: 32px;
  background-color: #f6e0dc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/*note dans La note enchantée + fonds des menus dans homepage*/
.calque-menu img {
  width: 32px;
}

.calque-menu--menu-2 {
  background-color: #fff5ff
}

.calque-menu--menu-3 {
  background-color: #c7ecee
}

.calque-menu--menu-4 {
  background-color: #cef0c8;
}
/*conteneurs texte h1/h2*/
.calque-menu__inside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
}
/*réglages blocs pages menus*/
.menu-contenu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 0 6px #c8d6e5;
  align-items: center;
  background-color: #f6e0dc;
  margin-bottom: 80px;
  padding-bottom: 64px;
  max-width: 520px;
  padding-left: 10%;
  padding-right: 10%;
  min-height: 880px;
}

.menu-contenu > img {
  width: 64px;
  margin-top: 48px;
  margin-bottom: -68px;
}

.menu-contenu--menu2 {
  background-color: #FFF9C4;
}

.menu-contenu--menu3 {
  background-color: #CFD8DC;
}

.menu-contenu--menu4 {
  background-color: #F0F4C3;
}

.menu-contenu__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-contenu__title img {
  width: 24%;
  margin: 40px 0 10px 0;
}

.menu-contenu__title h3 {
  text-align: center;
  margin: 40px 10px 10px 10px;
}

li {
  list-style-type: none;
}

ul {
  padding: 0;
  margin: 0;
  text-align: center;
}

.plat{
   margin-left: 20px;
   float: left;
}


.prix{
  margin-right:20px;
  float: right;
  font-weight: bold;
  
 }

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

ul {
  text-align: left;
}

}
.menu-contenu__logo-bottom {
  display: flex;
  align-items: center;
  margin-top: 36px;
}

.menu-contenu__logo-bottom img {
  width: 48px;
  margin-top: 36px;
}

.menu-contenu__logo-bottom h2 {
  font-size: 1.6em;
  margin-top: 36px;
}


/* mediaquery si >540px menu sur 2 colonnes*/
@media all and (min-width: 540px) {
  .main__grille-menu {
    max-width: 540px;
    display: flex;
    flex-flow: row wrap;
  }
  .h2--menu-contenu {
  font-size: 2.4rem;
  }
}
/* mediaquery si >768px menu sur 2 colonnes*/
@media all and (min-width: 768px) {
  .main__grille-menu {
    max-width: 560px;
    display: flex;
    flex-flow: row wrap;
  }
  .h2--menu-contenu {
    font-size: 2.8rem;
  }
}